* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  max-width: 375px;
  margin: auto;
}

header {
  border: 1px solid red;
}

h1 {
  line-height: 2rem;
  padding-top: 20px;
}

p {
  line-height: 3rem;
}

.password-container {
  border: 1px solid yellow;
}

.password-list {
  border: 1px solid blue;
  padding-top: 30px;
}

li {
  margin: auto;
  list-style: none;
  max-width: 300px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.password--generate {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
